.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    
    max-width: 900px
    
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
    
}

.header {
    background: rgb(33, 31, 31);
    color:mintcream;
    text-align: center;
}
h1 {
    font-size: 50px;
}
h3 {
    margin-bottom: 5px;
}
h4 {
    margin: 4px 8px 8px 8px;
    font-size: 20px;
}

.footer {
    background: darkgray;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    background: rgb(168, 193, 201);
  
    
}
td div {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 8%;
    pointer-events: none;
    background-color:rgb(87, 61, 87);
   
    margin: -1px;
    
}
aside > div {
    height: 100%;
    background-color: rgb(87, 61, 87);
    border: 4px solid black;
}

.player1{
    background-color: rgba(149, 245, 229,0.75);
    height: 32%;
    width: 32%;
    border: 1px solid black;
    margin: -1px;
   
}
.player2{
    background-color: rgba(60, 109, 213,0.75);
    height: 32%;
    width: 32%;
    border: 1px solid black;
    margin: -1px;
   

}

.pHolder {
    height: 32.5%;
    width: 32.5%;
    margin: 0;
}
.invisible > * {
    display: none;
}
#board {
    background-color: black;
    border:3px solid black;
    margin: 10px;
}

.hovered {
    background-color: white;
    stroke: aliceblue;
    border-style: dashed;
}

/* .hold {
    border: solid black 1px;
    width: 150px;
    height:150px;
} */
aside > div > div  {
    background-image: url("../assets/centerDot.png") ;
    background-size: contain;
}
.claimed {
    border-radius: 0%;
    border: 1px solid black;
    margin: -2px;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.drag{
    display:flex;
    flex-wrap: wrap;
    height:50px;
    width: 50px;
    margin: 4px;
}
.aside {
    width: auto;
    background-color: #577491;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
   
}
h5 {
    margin: 0 auto;
}
footer P {
    font-size: 12px;
    color:rgb(63, 63, 63);
}
@media all and (min-width: 600px) {
    .aside { flex: 2 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0; }
    .aside   { order: 3; } 
    .main    { order: 2; } 
    .footer  { order: 4; }
}

body {
    display: flex;
    padding: 6px; 
    font-family: 'Alegreya', serif;
    margin: 0 auto;
    justify-content: center;

}
