.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
    
}

.header {
    background: rgb(33, 31, 31);
    color:mintcream;
}
h4 {
    margin: 12px 8px 8px 8px;
}

.footer {
    background: darkgray;
}

.main {
    display: flex;
    justify-content: center;
    background: rgb(168, 193, 201);
    
}
td div {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 5%;
    pointer-events: none;
    background-color:rgb(87, 61, 87);
    border: 1px solid black;
    margin: -1px;
    
}
aside > div {
    height: 100%;
    background-color: rgb(87, 61, 87);
    border: 2px solid black;
}

.player1{
    background-color: rgb(149, 245, 229);
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: -1px;
}
.player2{
    background-color: rgb(60, 109, 213);
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: -1px;
}
.pHolder {
    height: 50px;
    width: 50px;
    margin: 0;
}
.invisible {
    display: none;
}
.hovered {
 background-color: white;
 stroke: aliceblue;
}

.hold {
    border: solid black 1px;
}
.unclaimed {
    border-style: dashed;
}
.deck {
    display: flex;
    flex-wrap: wrap;
}
.deck > section {
    display:flex;
    flex-wrap: wrap;
    height:151px;
    width: 151px;
    margin: 4px;

}
.aside {
    background-color: #577491;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    

}

@media all and (min-width: 600px) {
    .aside { flex: 2 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside   { order: 3; } 
    .main    { order: 2; } 
    .footer  { order: 4; }
}

body {
    padding: 6px; 
    font-family: 'Alegreya', serif;

}
